body
{
    background-color: #0089A3;
    font-family: Verdana, Geneva, sans-serif;
}

#menu
{
    width: 98%;
    height:  65px;
    margin: 0 auto;
    
    top: 0;
    position: relative;
    
    background-color: #212121;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;   
}

.menu-button
{
    float: left;
    width: 50px;
    height: 55px;
    margin-top: 10px;
    margin-left: 25px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.menu-button-icon
{
    width: 50px;
    height: 50px;
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    background-color: #212121;
    
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-button-icon-hover
{
    background-color: #424242
}

.menu-button-active,
.menu-button-icon-active
{
    background-color: #FFFFFF !important;
}

#menu-button-close,
#menu-button-close-selected
{
    width: 24px;
    height: 24px;
    cursor: pointer;
    
    top: 5px;
    right: 15px;
    z-index: 100;
    position: absolute;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/img/backend/menu-button-off.png);
}

#menu-button-close-selected
{
    background-image: url(/img/backend/menu-button-on.png);
}

#clock
{
    float: left;
    width: 160px;
    height: 65px;
    margin-left: 15px;
    
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

#clock-time
{
    width: 160px;
    height: 25px;
    font-size: 15px;
    margin-top: 5px;
    line-height: 25px;
}

#clock-date
{
    width: 160px;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    background-color: #292929;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#content
{
    width: 98%;
    height: auto;
    margin: 0 auto;
    
    top: 0;
    position: relative;
    
    background-color: #FFFFFF;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border: 1px solid transparent;
}

#column_left
{
    float: left;
    
    width: 200px;
    height: 750px;
    
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    
    background-color: grey;
}

#column_right
{
    float: left;
    
    width: 500px;
    height: 750px;
    
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

#column_right div.disabled
{
    display: none;
}

#column_right table
{
    width: 100%;
    margin-top: 10px;
}

#column_right table thead th
{
    height: 30px;
    background-color: #0089A3;
}

#column_right table tbody tr
{
    background-color: lightgrey;
}

#column_right table tbody tr.odd
{
    background-color: #FFFFFF;
}

#column_right table tbody tr:hover
{
    background-color: #0089A3;
}

#column_right table td
{
    height: 30px;
    text-align: center;
}
