.input.text,
.input.password,
.input.checkbox
{
    margin-top: 15px;
}

.input.textarea
{
    margin-top: 15px;
}

.input .error-message
{
    width: 250px;
    margin-top: 5px;
    color: #FF0000;
    font-size: 12px;
}

.submit
{
    height: 28px;
    margin-top: 15px;
}

.input label
{
    height: 24px;
    display: block;
    font-size: 17px;
}

.input.checkbox input
{
    float: right;
    height: 24px;
}

.input.textarea textarea
{
    height: 300px;
    width: 500px;
    border: 2px outset #000000;
}

.input.text input,
.input.password input
{
    width: 250px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px outset #000000;
}

.submit input
{
    height: 28px;
    float: right;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #FFFFFF;
}

.submit input:hover
{
    border-bottom: 1px dotted #000000;
}
