.form-h
{
    font-size: 15px;
}

.form-h > .input
{
    height: 24px;
    margin-top: 15px;
}

.form-h > .submit
{
    height: 28px;
    margin-top: 15px;
}

.form-h > .message
{
    color: #FF0000;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
}

.form-h > .input > label
{
    float: left;
}

.form-h > .input > input
{
    float: right;
    width: 200px;
    height: 20px;
    border: 2px outset #000000;
}

.form-h > .submit input
{
    float: right;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFFFFF;
}

.form-h > .submit input:hover
{
    border-bottom: 1px dotted #000000;
}
