div.input
{
    font-size: 15px;
    margin-top: 15px;
    overflow: hidden;
}

div.submit
{
    height: 28px;
    margin-top: 15px;
    text-align: right;
}

div.input > label
{
    display: block;
}

div.input > input
{
    width: 250px;
    height: 20px;
    border: 2px outset #000000;
}

div.input > textarea
{
    width: 400px;
    height: 400px;
    border: 2px outset #000000;
}

div.input > input.block,
div.input > textarea.block,
{
    display: block;
}

div.submit > input
{
    cursor: pointer;
    font-weight: bold;
    background-color: #FFFFFF;
}

div.submit > input:hover
{
    border-bottom: 1px dotted #000000;
}

form > div#authMessage
{
    color: #FF0000;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
}
