.list
{
    list-style-type: none;
}

.list li
{
    height: 40px;
    overflow: hidden;
    margin: 0 0 5px 0;
    background-color: #E6E5DC;
}

.list li.odd
{
    background-color: #D4D4C6;
}

.list .title,
.list .intro,
.list .actions
{
    height: 100%;
    overflow: hidden;
    line-height: 40px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.list .title
{
    float: left;
    font-weight: bold;
}

.list .intro
{
    float: left;
    color: #A3A093;
}

.list .actions
{
    float: right;
}

.list .paginator
{
    background: none;
    line-height: 40px;
    text-align: center;
    padding: 0 5px 0 5px;
}





































.helper
{
    border: 2px dashed #000000;
}

.tree
{
    list-style-type: none;
}

.tree li
{
    margin: 0 0 5px 0;
    line-height: 40px;
    padding: 0 5px 0 5px;
    background-color: #E6E5DC;
}

.list li.odd
{
    background-color: #D4D4C6;
}
