.list
{
    list-style-type: none;
}

.list li
{
    margin: 0 0 3px 0;
}

.list li.even
{
    background-color: #E6E5DC;
}

.list li.odd
{
    background-color: #D4D4C6;
}

.list .title
{
    float: left;
    line-height: 40px;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.list .preview
{
    float: left;
    color: #A3A093;
    line-height: 40px;
    padding: 0 5px 0 5px;
}

.list .actions
{
    float: right;
    line-height: 40px;
    padding: 0 5px 0 5px;
}

.list .wrapper
{
    overflow: hidden;
    line-height: 40px;
    padding: 0 0 0 5px;
}

.list .paginator
{
    background: none;
    line-height: 40px;
    text-align: center;
    padding: 0 5px 0 5px;
}

.tree li
{
    margin: 0;
    cursor: move;
}

.tree .helper
{
    border: 2px dashed #A3A093;
}

.tree .wrapper
{
    background-repeat: no-repeat;
    border-left: 2px solid #000000;
    background-position: top left;
    background-image: url(/img/backend/branch.gif);
}
