.list
{
    list-style-type: none;
}

.list li
{
    height: 40px;
    overflow: hidden;
    margin: 0 0 5px 0;
    background-color: #E6E5DC;
}

.list li.odd
{
    background-color: #D4D4C6;
}

.list .title,
.list .intro,
.list .actions
{
    height: 100%;
    overflow: hidden;
    line-height: 40px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.list .title
{
    float: left;
    font-weight: bold;
}

.list .intro
{
    float: left;
    color: #A3A093;
}

.list .actions
{
    float: right;
}

.list .paginator
{
    background: none;
    line-height: 40px;
    text-align: center;
    padding: 0 5px 0 5px;
}







































.tree
{
    list-style-type: none;
}

.tree .helper
{
    border: 2px dashed #000000;
}

.tree li
{
    cursor: move;
}

.tree .title
{
    float: left;
    line-height: 40px;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.tree .preview
{
    float: left;
    color: #A3A093;
    line-height: 40px;
    padding: 0 5px 0 5px;
}

.tree .actions
{
    float: right;
    line-height: 40px;
    padding: 0 5px 0 5px;
}

.tree .wrapper
{
    height: 40px;
    padding: 0 0 0 5px;
    border-left: 2px solid #000000;
    
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(/img/backend/foo.gif);
}
