.table
{
    width: 100%;
    text-align: center;
}

.table tbody tr
{
    height: 32px;
}

.table tbody tr.odd
{
    background-color: lightgrey;
}

.table tbody tr:hover
{
    color: #FFFFFF;
    background-color: #424242
}
