.table
{
    width: 100%;
    text-align: center;
}

.table .title,
.table .title a
{
    height: 32px;
    color: #FFFFFF;
    background-color: #292929;
}

.table tbody tr
{
    height: 32px;
}

.table tbody tr.odd
{
    background-color: lightgrey;
}

.table tbody tr:hover
{
    color: #FFFFFF;
    background-color: #424242
}
